.grid {
    width:612px;
    height:612px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width:200px;
    height:200px;
    border:2px solid #000;
    cursor:pointer;
    background: url('background.png') repeat-x;
}

.mole {
    background-color: blue;
    background-size:200px;
    background-image: url('imgs/mole_9_shy_blushing.png');
}